/*===============RESET===========*/
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=M+PLUS+1p:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*======VARIÁVEIS=======*/
:root {
    font-size: 100%; 
    /* ========== CORES ======= */
    --placeHolder-color: #80AB9E;
    --green-color: #00DD9C;
    --button-color: #00E3A5;
    --dark-blue: #0d0d0d;
    --white-color: #F5FBF2;
    --lato-font: 'Lato', sans-serif;
    --gray: #9E9E9E;
}

body {
    background: var(--dark-blue);
    color: var(--white-color);
}

a {
    text-decoration: none;
}





/*========NAVEGAÇÃO========*/
#header {
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;   
    width: 100vw;
}

nav a {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

table {
    width: 21.4375rem;
    margin: 0 auto;
    height: 2.5rem;
}

table .cabecalho {
    color: var(--button-color);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    width: 3rem;
    height: 1.4375rem;
    text-align: center;
}

table tr td {
    color: var(--gray);
    font-size: 0.75rem;
    width: 6.75rem;
    height: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;
}

#span {
    color: var(--green-color);
}

#icon {
    font-family: 'Amaranth', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white-color);
}


.section {
    font-family: var(--lato-font);
    font-weight: 600;
    text-align: center;
    margin-top: 7.390625rem;
}

.container {
    width: 90%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
}

.placeholder {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--placeHolder-color);
    margin-bottom: 1rem;
}

.content {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.65rem;
    margin-bottom: 3.65rem;
}
.content2 {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.65rem;
    margin-bottom: 3.65rem;
}

.img {
    width: 100%;
}



#special p {
    margin-top: 1.25rem;
    text-align: left;
    font-weight: 400;
    color: var(--placeHolder-color);
    line-height: 150%;

}

#background {
    position: absolute;
    top: 100rem;
    left: 0rem;
    display: block;
    z-index: -1;
    width: 100%;
}
.button{
    display: block;
    background: var(--button-color);
    border: none;
    width: 12.5625rem;
    height: 4.0625rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-family: var(--lato-font);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
    cursor: pointer;
    box-shadow: 0 20px 20px 10px rgb(0, 227, 165, 0.1);

}

.contribuidores {
    display: block;
    width: 21.4375rem;
    height: 5.5rem;
    margin-top: 3.515rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2rem;
    font-family: var(--lato-font);
    font-weight: 700;
    line-height: 150%;
    height: 3rem;
    width: 8.6875rem;
    margin: 0 auto;
}

.button2 {
    margin-top: 2.5rem;
    background: var(--dark-blue);
    color: var(--white-color);
    width: 12.5rem;
    height: 4rem;
    border: 1px solid var(--button-color);
    font-family: var(--lato-font);
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 800;
    box-shadow: 0 20px 20px 10px rgb(0, 227, 165, 0.1);
    cursor: pointer;
}

#services {
    margin-top: 5rem;
    height: 22rem;
    position: relative;

}

.service {
    margin-bottom: 20px;
    width: 9rem;
    height: 7.3125rem;
    border-radius: 15px;
    background: var(--placeHolder-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
    border: 1px solid var(--gray);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#marketplace{
    position: absolute;
    top: 0;
    left: 0;
}
#marketplace::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: 3rem;
    box-shadow: 0 40px 40px 30px rgb(255, 180, 19, 0.3);;
}



#secure {
    position: absolute;
    bottom: 0;
    right: 0;
}

#secure::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: 3rem;
    box-shadow: 0 40px 40px 30px rgb(0, 221, 156, 0.3);
}

#data {
    position: absolute;
    top: 9rem;
    left: 8%;
}

#data::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: 3rem;
    box-shadow: 0 40px 40px 30px rgb(5, 210, 255, 0.3);
}

#money {
    position: absolute;
    top: 4rem;
    right: 1.5rem;

}

#money::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: 3rem;
    box-shadow: 0 40px 40px 40px rgb(253, 90, 20, 0.3);
}
.section img {
    width: 2.125rem;
}

