/*===============RESET===========*/
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=M+PLUS+1p:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*======VARIÁVEIS=======*/
:root {

    font-size: 100%; 
    /* ========== CORES ======= */
    --placeHolder-color: #80AB9E;
    --green-color: #00DD9C;
    --button-color: #00E3A5;
    --dark-blue: #0d0d0d;
    --white-color: #F5FBF2;
    --lato-font: 'Lato', sans-serif;
    --gray: #9E9E9E;
    --div-color: #00DD9C08;

    /*Fontes*/
    --poppins: 'Poppins', sans-serif;;
}

body {
    background: var(--dark-blue);
    color: var(--white-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}



.menu {
    cursor: pointer;
}

/*========NAVEGAÇÃO========*/
#header {
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;   
    width: 100vw;
    
}

nav a {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav #menu-mobile {
    opacity: 0;
    visibility: hidden;
}

nav.show #menu-mobile{
    opacity: 1;
    visibility: visible;
    background: white;
    
    height: 100vh;
    width: 100vw;
    
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

}


#close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 1rem;

    /*Transition*/
}

nav.show #close {
    visibility: visible;
    opacity: 1;
}

#close:hover, .open:hover {
    cursor: pointer;
}

.open {
    position: absolute;
    right: 2rem;
    top: 1rem;
}


nav ul li {
    text-align: center;
}

#menu-mobile {
    display: grid;
    align-items: center;
}

.list {
    display: grid;
    align-items: center;
    height: 80%;
    margin: 0 auto;
}


nav.show #menu-mobile .items {
    color: #000033;
    font-weight: 800;
    font-family: var(--poppins);
    font-size: 1.75rem;
    transition: all 0.3s;
    position: relative;

}

nav.show #menu-mobile .items::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--green-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

nav.show #menu-mobile .items:hover::after {
    content: '';
    width: 100%;
}


nav.show #menu-mobile .items:hover {
    color: var(--green-color);
}

/*
#mobile {
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    align-items: center;
}

#menu-mobile {
    position: absolute;
    display: grid;
    align-items: center;
    font-family: var(--prompt);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
    color: rgb(0, 0, 51);
    width: 100vw;
    height: 80vh;

    
}
*/


.nav {
    width: 100%;
    padding: 0 2rem;
    display: flex;
}

table {
    width: 21.4375rem;
    margin: 0 auto;
    height: 2.5rem;
}

table .cabecalho {
    color: var(--button-color);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    width: 3rem;
    height: 1.4375rem;
    text-align: center;
}

table tr td {
    color: var(--gray);
    font-size: 0.75rem;
    width: 6.75rem;
    height: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;
}

#span {
    color: var(--green-color);
}

#icon {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 2rem;
    color: var(--white-color);
}


.section {
    font-family: var(--poppins);
    font-weight: 600;
    text-align: center;
    margin-top: 7.390625rem;
}
#achievements {
    padding-top: 2rem;
}

.container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.special {
    
    font-size: 2.25rem;
    background: var(--div-color);
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: var(--poppins);
    font-weight: 600;
    text-align: center;
    margin-top: -2.03125rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    position: relative;
}


.special .background {
    position: absolute;
    display: block;
    z-index: -5;
    top: 2.03125rem;
    left: 0;
    height: 94%;
    width: 100%;
}


.gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
}

.placeholder {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--placeHolder-color);
    margin-bottom: 1rem;
}

.content {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.65rem;
    margin-bottom: 3.65rem;
}
.content2 {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.65rem;
    margin-bottom: 3.65rem;
    padding: 0 1rem;
}

.img {
    width: 100%;
}

#special {
  position: relative;
  padding-top: 4rem;
}

#special::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: -1.5rem;
    z-index: -1;
    width: 100vw;
    height: 110%;
    background: rgb(9, 37, 30, 0.3);
    border-top-right-radius: 9.375rem;
    border-bottom-right-radius: 9.375rem;
}

#special p {
    margin-top: 1.25rem;
    text-align: left;
    font-weight: 400;
    color: var(--placeHolder-color);
    line-height: 150%;
}

.button{
    display: block;
    background: var(--button-color);
    border: none;
    width: 12.5625rem;
    height: 4.0625rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-family: var(--poppins);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
    cursor: pointer;
    box-shadow: 0 20px 20px 10px rgb(0, 227, 165, 0.1);

}

.contribuidores {
    display: block;
    width: 21.4375rem;
    height: 5.5rem;
    margin-top: 3.515rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 1.75rem;
    font-family: var(--poppins);
    font-weight: 700;
    line-height: 150%;
    height: 3rem;
    width: 8.6875rem;
    margin: 0 auto;
}

.button2 {
    margin-top: 2.5rem;
    background: black;
    color: var(--white-color);
    width: 12.5rem;
    height: 4rem;
    border: 1px solid var(--button-color);
    font-family: var(--poppins);
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 800;
    box-shadow: 0 20px 20px 10px rgb(0, 227, 165, 0.1);
    cursor: pointer;
}

#services {
    margin-top: 5rem;
    height: 22rem;
    position: relative;

}

.service {
    margin-bottom: 20px;
    width: 9rem;
    height: 7.3125rem;
    border-radius: 15px;
    background: var(--placeHolder-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
    border: 1px solid var(--gray);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#marketplace{
    position: absolute;
    top: 0;
    left: 0;
}
#marketplace::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: 3rem;
    box-shadow: 0 40px 40px 30px rgb(255, 180, 19, 0.3);;
}



#secure {
    position: absolute;
    bottom: 0;
    right: 0;
}

#secure::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: 3rem;
    box-shadow: 0 40px 40px 30px rgb(0, 221, 156, 0.3);
}

#data {
    position: absolute;
    top: 9rem;
    left: 8%;
}

#data::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: 3rem;
    box-shadow: 0 40px 40px 30px rgb(5, 210, 255, 0.3);
}

#money {
    position: absolute;
    top: 4rem;
    right: 1.5rem;

}

#money::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: 3rem;
    box-shadow: 0 40px 40px 40px rgb(253, 90, 20, 0.3);
}
.section img {
    width: 2.125rem;
}

.second {
    margin-top: 15rem;
    position: relative;
}

.second::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 64vh;
    background: rgb(10, 22, 25, 0.4);
    top: -2rem;
    right: 0rem;
    border-top-left-radius: 100%;

}

.grid {
    padding-top: 1.25rem;
    padding-bottom: 2.625rem;
    padding-left: 1.5625rem; 
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    gap: 0.875rem;
    background: var(--div-color);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    z-index: 3;
    margin-right: -1rem;
}

.grid2 {
    padding: 1.25rem 1.5625rem 2.625rem 3rem;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    background: var(--div-color);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-left: -2rem;
}

.grid div{
    text-align: left;
}
.grid2 div {
    text-align: right;
}

.grid h1,
.grid2 h1 {
    font-size: 1.125rem;
    margin-top: 3px;
}

.grid p, 
.grid2 p {
    color: var(--placeHolder-color);
    margin-top: 0.5rem;
    font-size: 0.75rem;
}


.img-swip {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
    cursor: pointer;
    
}

.testimonials p {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1.5rem 4.5625rem 0 4.5625rem;
}

.swiper-button-next {
    clip-path: circle();
    background: var(--button-color);
    padding-left: 1.3rem;
}

.swiper-button-prev {
    clip-path: circle();
    background: var(--button-color);
    padding-left: 1.65rem;
}

blockquote {
    position: relative;
}

#vector {
    position: absolute;
    left: 4rem;
}

#title2 {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1.25rem;
}


#last-p {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 2rem;
    line-height: 1.625rem;
    color: var(--placeHolder-color);
}

.last h2 {
    margin-top: 2rem;
    text-align: left;
}

.Newgr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0;
    gap: 0;
    margin-top: 1.5rem;
    height: 3.5rem;

}

.Newgr input {
    background: none;
    outline: none;
    border: 1px solid var(--button-color);
    border-radius: 0.5rem 0 0 0.5rem;
    padding-left: 1rem;
    color: white;
}
.Newgr input:focus {
    border: 1px solid var(--placeHolder-color);
}


.Newgr div {
    background: var(--button-color);
    padding: 0.5rem;
    color: #0d0d0d;
    padding-top: 1rem;
    font-weight: 800;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: 0.3s;
}

.Newgr div:hover {
    background: rgb(85, 216, 181);
    color: white;
    cursor: pointer;
}

.linha {
    margin-top: 2rem;
    width: 100%;
    height: 1px;
    background: var(--placeHolder-color);
}

#last {
    margin-top: 1.75rem;
    padding-bottom: 3rem;
    position: relative;
    padding-top: 2rem;
}

#last .informations {
    margin-bottom: 2.5rem;
}
#last .informations h1 {
    margin-bottom: 1.75rem;
    font-weight: 800;
    font-size: 1.25rem;
}

#last .informations p, footer {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--placeHolder-color)
}

#images img {
    display: inline-flex;   
    
}

#last #images .icon:hover  {
    
    cursor: pointer;
}

#images img:nth-child(2) {
    margin: 0 1.5rem;
}

#last .world {
    position: absolute;
    top: 6.25rem;
    display: block;
    width: 80%;
    z-index: -8;
    opacity: 0.4;
}

#last #background_for_last {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    display: block;
    width: 80%;
    opacity: 0.8;
}
#last #background_for_last2 {
    z-index: -5;
    position: absolute;
    bottom: 8rem;
    left: 0;
    display: block;
    width: 80%;
    opacity: 0.5;
}
